* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
  }
  
  /*Stilimi i Headerit */
  nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 80px;
  }
  
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    background-color: orange;
  }
  nav li:first-child{
    margin-right: auto;
    padding: 0%;
  }
  
  nav li:last-child {
    display: flex;
    align-items: center;
    height: 50px;
  }
  nav li:last-child img {
    height: 30px;
    width: 30px;
    padding: 10px;
  }
  
  nav li:last-child a:hover {
    background-color: orange;
  }
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media (max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button {
        display: block;
    }
  }
  @media (max-width: 400px) {
    .sidebar{
        width: 100%;
    }
  }
  /* end of header */

  
  /* Stilizimi i main  */

  .wrapper-background {
    margin: auto;
    margin-bottom: auto;
    background-color: #f9f9f9;
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  
  
  }
  
  .wrapper3 {
      width: auto;
      background-color: rgb(255, 255, 255);
      color: whitesmoke;
      border-radius: 30px;
      padding: 30px 40px;
      margin-top: 5%;
      margin-bottom: 5%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  } 
  
  
  .wrapper3 h1 {
      color: #ff6600;
      font-size: 36px;
      text-align: center;
  }
  
  .wrapper3 .input-box3 {
      background-color: white(142, 27, 27);
      border-radius: 30px;
      color: black;
      position: relative;
      width: 100%;
      height: 50px;
      margin: 30px 0;
  }
  
  .input-box3 input {
      width: 100%;
      height: 100%;
      background: transparent;
      outline: none;
      border: 2px solid rgb(0, 0, 0);
      border-radius: 40px;
      font-size: 16px;
      color: rgb(0, 0, 0);
      padding: 20px 20px 20px 20px;
  }
  
  .input-box3 input {
      color: rgb(0, 0, 0);
  }
  
  .input-box3 i {
      position: absolute;
      right: 20px;
      top: 50%;
      font-size: 20px;
  } 
  
  .wrapper3 .btn3 {
      width: 50%;
      position: relative;
      left: 25%;
      height: 45px;
      background: rgb(44, 66, 133);
      color: #f9f9f9;
      border: none;
      border-radius: 45px;
      box-shadow: 0 0 10px darkslategray (0, 0, 0, .1);
      cursor: pointer;
      font-size: 16px;
  }
  
  .wrapper3 .back-to-login {
      font-size: 14.5;
      text-align: center;
      margin: 20px 0 15px;
      color: black;
  }
  
  .back-to-login p a{
      color: rgb(14, 8, 8);
      text-decoration: none;
      font-weight: 600;
  }
  
  .input-box3 input::placeholder {
      color: rgb(31, 24, 24);
  }

  
/*Stilizimi i footer */
.footer-content{
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer-div{
  border-top: solid 1px rgba(255, 255, 255, 0.508);
  padding-top: 40px;
  color: rgb(201, 201, 201);
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  justify-content: space-evenly;
}

.travel-footer{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-style: italic;
  color:  rgb(162, 162, 162);
}

.travel-titulli{
  padding-bottom: 5px;
  font-style: normal;
  color: #ff4500;
  font-family: sans-serif;
  font-variant: small-caps;
}

.footer-nav{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-titulli{
  color: #ff4500;
  padding-bottom: 5px;
  font-family: sans-serif;
  font-variant: small-caps;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: center;
}

.nav-elements {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: center;
  gap: 5px; 
}

.nav-elements a {
  line-height: 1.8em;
  text-decoration: none;
  color: rgb(162, 162, 162);
  font-family: sans-serif;
}

.nav-elements a:hover {
  color: #ff4500;
}


.footer-contact{
  line-height: 1.8em;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: center;
}

.footer-contact>p, .fcontact-a>a{
  color:  rgb(162, 162, 162);
}

.fcontact-a{
  display: flex;
  flex-direction: column;
}

.fcontact-a :hover{
  color: #ff4500;
}

footer{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); 
  margin-top: 50px;
}